/* assets */ 
@tailwind base;
@tailwind components;
@tailwind utilities;

font-family: ui-sans-serif,
system-ui,
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
sans-serif,
Apple Color Emoji,
Segoe UI Emoji,
NotoColorEmoji,
Segoe UI Symbol,
Android Emoji,
EmojiSymbols;
/* Custom CSS */

.dark\:hide-on-dark {
display: block;
visibility: visible;
}

.dark\:show-on-dark {
display: none;
visibility: hidden;
}

:is(.dark .dark\:hide-on-dark) {
display: none;
visibility: hidden;
}

:is(.dark .dark\:show-on-dark) {
display: block;
visibility: visible;
}

.bg-title {
    --tw-bg-opacity: 1;
    background-color: rgb(160 165 235 / var(--tw-bg-opacity));
}

:is(.dark .dark\:bg-title) {
    --tw-bg-opacity: 1;
    background-color: rgb(100 100 190 / var(--tw-bg-opacity));
}

.videoplayer {
    aspect-ratio: 16 / 9;
    width: 100%;
    margin: 0;
}

/* Custom CSS end */